@import "https://fonts.googleapis.com/css?family=Comfortaa&display=swap";

:root {
	--text-color: black;
	--bg-color: white;
}
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: white;
		--bg-color: black;
	}
	#imgs>pic>div.name {
		background-color: rgba(0, 0, 0, 0.6) !important;
	}
}

html, body {
	color: var(--text-color);
	background-color: var(--bg-color);
}

#imgs {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}
#imgs>pic {
	border: 1px solid var(--text-color);
	border-radius: 2vmax;
	width: 20vw;
	height: 20vw;
	margin: 2vmax !important;
	padding: 1vmax;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#imgs>pic>div.name {
	background-color: rgba(255, 255, 255, 0.6);
	display: flex;
}
#imgs>pic>div.name>div:hover, #imgs>pic:focus>div.name>div {
	text-decoration-color: blue;
}
#imgs>pic>div.name>div {
	text-decoration: underline;
	text-decoration-color: transparent;
	color: var(--text-color);
	transition: text-decoration-color 1s;
	cursor: pointer;
}

#ibs {
	background-color: white;
}