@import "https://fonts.googleapis.com/css?family=Comfortaa&display=swap";

#imgs {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}
#imgs>pic {
	border: 1px solid black;
	border-radius: 2vmax;
	width: 20vw;
	height: 20vw;
	margin: 2vmax !important;
	padding: 1vmax;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#imgs>pic>div.name {
	background-color: rgba(255, 255, 255, 0.6);
	display: flex;
}
#imgs>pic>div.name>div:hover {
	text-decoration-color: blue;
}
#imgs>pic>div.name>div {
	text-decoration: underline;
	text-decoration-color: transparent;
	color: black;
	transition: text-decoration-color 1s;
	cursor: pointer;
}