@import "https://fonts.googleapis.com/css?family=Major Mono Display|Jura&display=swap";

html, body {
	--font-size: 2em;
	--font-family1: "Jura", sans-serif;
	--font-family2: "Major Mono Display", sans-serif;
	--font: var(--font-size) var(--font-family1);

	text-align: center;
	font: var(--font);

	width: 100vw;
	height: 800vh;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
section {
	position: fixed;
	width: 100vw;
	height: 100vh;

	background-color: white;
	opacity: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	
	overflow: hidden;
}

#start {
	z-index: 1;
	opacity: 1;
}
#bday {
	z-index: 2;
}
#bday>div {
	color: transparent;

	background-clip: text !important;
	-webkit-background-clip: text !important;
	-moz-background-clip: text !important;
	-ms-background-clip: text !important;
	-o-background-clip: text !important;

	background: linear-gradient(to right, black 0%, white 0%);

	font-family: var(--font-family2);

	text-transform: uppercase;
}
#heart {
	z-index: 3;
}
#heart>svg {
	top: 100vh;
	position: relative;
}
#love {
	z-index: 4;
}

#bg {
	z-index: 5;
	background: url(/imgs/me.png);
	opacity: 0.25;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}