@import "https://fonts.googleapis.com/css?family=Major Mono Display|Comfortaa&display=swap";

html {
	background-color: var(--GR-bg-color);
	color: var(--GR-text-color);
}

h1 {
	font-family: "Major Mono Display", serif;
	font-weight: normal;
	font-size: clamp(1rem, calc(1rem * 4), 10vmin);
}
p {
	font-family: comfortaa, "Major Mono Display", serif;
	font-size: clamp(1rem, calc(1rem*1.5), 5vmin);
	margin-bottom: 1vmax;
}

.app {
	--size: 10vmax;
	width: var(--size);
	height: var(--size);
	border-radius: calc(var(--size) / 4);
	font-size: clamp(1rem, calc(1rem*2), 2.5vmax);
	background-color: rgba(255, 255, 255, 0.5);
	color: var(--GR-text-color);
	font-family: "Comfortaa", "Major Mono Display", serif;
	transition: border 0.5s, background-color 0.5s;

	--border-top-left: 1vmax solid grey;
	--border-bottom-right: 1vmax solid black;
	border-top: var(--border-top-left);
	border-left: var(--border-top-left);
	border-bottom: var(--border-bottom-right);
	border-right: var(--border-bottom-right);
}
.app:hover, .app:focus, .app:active {
	background-color: rgba(255, 255, 255, 1);

	border-bottom: var(--border-top-left);
	border-right: var(--border-top-left);
	border-top: var(--border-bottom-right);
	border-left: var(--border-bottom-right);
}

.page {
	transition: opacity 1s;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 89vh;
	text-align: center;
	background-color: var(--GR-bg-color);
}
#start {
	z-index: 2;
}
#game {
	z-index: 1;
}

#canvas {
	background-color: var(--GR-bg-color);
}
#pause-text {
	font: clamp(1rem, calc(1rem*5), 15vmax) 'Major Mono Display';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: calc(89vh - 11vh);
	background-color: transparent;
	color: transparent;
	transition: background-color 1s, color 1s;
	margin: 0;
	padding: 0;
	border: transparent;
	text-transform: lowercase;
	padding-bottom: 11vh;
}
#reload {
	font-size: 1rem;
	text-transform: uppercase;
}