@import "https://fonts.googleapis.com/css?family=Major Mono Display&display=swap";
@import "http://gavinmorrow.com/gr/color-scheme/style.css";
#nav-wrapper {
	--nav-height: 11vh;
	--arrow-height: 2em;
	--wrapper-height: calc(var(--nav-height) + var(--arrow-height));

	--font-size: 2em;
	--font-family: "Major Mono Display", monospace;
	--font: var(--font-size) var(--font-family);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000000000000000;
	min-height: var(--wrapper-height);
	text-align: left;
	transition: top 1s linear;
	width: fit-content;
	color: var(--GR-text-color);

	font: var(--font);
}
#nav-nav {
	min-height: var(--nav-height);
	background-color: var(--GR-nav-bg-color);
	box-shadow: 0 0 1vmin 0 var(--GR-text-color);
	min-width: 100vw;
	vertical-align: middle;
}
#nav-arrow {
	height: var(--arrow-height);
	background-color: transparent;
	border: none;
	font: 1em var(--font-family);
	outline: transparent;
	text-shadow: 0 0 0 transparent;
	transition: text-shadow 1s, transform 1s;
	color: var(--GR-text-color);
}
#nav-arrow:hover, #nav-arrow:focus {
	text-shadow: 0 0 1vmax var(--GR-sub-text-color);
}
.nav-a {
	--margin: 1.5vh;
	--height: 1em;
	--padding: calc((var(--nav-height) - var(--height)) / 2 - var(--margin));
	height: var(--height);
	margin: var(--margin);
	padding: var(--padding) calc(var(--padding) / 2);
	border-radius: var(--padding);
	position: relative;
	display: inline-block;

	text-decoration: transparent;
	color: var(--GR-text-color);
	vertical-align: middle;

	transition: background-color 1s;
}
.nav-a:hover, .nav-a:focus {
	background-color: var(--GR-card-bg-color);
}

.nav-a img {
	height: calc(var(--height) + 1vh);
}